body {
  margin: 0px;
}

canvas {
  background-image: url(https://preview.redd.it/x2a8ocan69h51.png?width=640&crop=smart&auto=webp&s=f5d762d6e797dab83bec85dab36b1543ab9238fe);
  background-color: lightgray;
}

img {
  display: none;
}
